<footer id="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="header col-sm-12 col-md-6 px-5 wow bounceInLeft">
        <h1 class="title">
          <img src="../../../assets/img/logo-02.svg" width="50px" />
          <a href="/">DG Site</a>
        </h1>
        <small>© 2020 | DG Site - Todos os direitos reservados.</small>
      </div>
      <div
        class="header col-sm-12 col-md-6 px-5 wow bounceInLeft"
        data-wow-delay=".3s"
      >
        <p class="mt-3 mb-0">
          Esse é o meu portifólio onde atualizo sempre com as tecnologias que
          vou aprendendo ao longo dos meus estudos. Fique a vontade para navegar
          por aqui.
        </p>
      </div>
      <div class="col-12 px-5 wow bounceInDown" data-wow-delay=".3s">
        <hr />
      </div>
      <div class="col-sm-12 col-md-6 mb-4 mb-md-0 px-5 wow bounceInLeft">
        <h5>Links Úteis</h5>
        <a
          class="btn btn-outline-light btn-sm"
          href="https://webcurriculo.firebaseapp.com"
          target="_blank"
          ><i class="fas fa-globe-americas"></i> Currículo</a
        >
        <a
          class="btn btn-outline-light btn-sm"
          href="https://github.com/diegohyenna"
          target="_blank"
          ><i class="fab fa-github"></i> GitHub</a
        >
        <a
          class="btn btn-outline-light btn-sm"
          href="https://www.linkedin.com/in/diego-guimaraes-362136123/"
          target="_blank"
          ><i class="fab fa-linkedin"></i> Linkedin</a
        >
      </div>
      <div
        class="px-5 col-sm-12 col-md-6 text-md-right wow bounceInLeft"
        data-wow-delay=".3s"
      >
        <h5>Seções</h5>
        <a class="btn btn-outline-light btn-sm" [href]="path + '#header'">
          Início</a
        >
        <a class="btn btn-outline-light btn-sm" [href]="path + '#about'">
          Sobre</a
        >
        <a class="btn btn-outline-light btn-sm" [href]="path + '#projects'">
          Projetos</a
        >
      </div>
    </div>
  </div>
</footer>
