<div class="bg-polygon">
  <header id="header">
    <div class="header-left position-relative">
      <div class="theme-choose-container">
        <button
          class="button theme-blue-orange"
          (click)="setTheme($event)"
        ></button>
        <button
          class="button theme-aqua-blueviolet"
          (click)="setTheme($event)"
        ></button>
      </div>
      <div class="header-content">
        <div class="header-content-inner">
          <ng-template ADHost group="left"></ng-template>
        </div>
      </div>
    </div>
    <div
      class="header-right d-flex flex-column justify-content-center align-items-center"
    >
      <div class="lines">
        <div class="line"></div>
      </div>
      <div class="links">
        <ng-template ADHost group="right"></ng-template>
      </div>
      <div class="lines">
        <div class="line"></div>
      </div>
    </div>
  </header>
  <svg
    version="1.1"
    id="border-top"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px"
    y="0px"
    viewBox="0 432 960 128"
    enable-background="new 0 432 960 128"
    xml:space="preserve"
    class="svg-about"
  >
    <path fill="#f3efef" d="M0,432l960,85.334V560H0V432z" />
  </svg>
</div>
