<section id="projects" class="position-relative">
  <svg
    id="svg-projects"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1440 170"
  >
    <path fill="" fill-opacity="1" d="M0,160L1440,32L1440,0L0,0Z"></path>
  </svg>
  <h1 class="title text-center pt-5 pb-2 wow bounceInUp" data-wow-delay=".5s">
    <strong>Últimos Projetos</strong>
  </h1>
  <app-carousel
    class="wow bounceInLeft"
    data-wow-delay=".9s"
    [items]="projects"
    [categories]="categories"
    [technologies]="technologies"
  ></app-carousel>
</section>
