.Footer {
  display: flex;
  padding: 0 24px;
  border-bottom: solid;
  border-top: solid;
  border-width: 1px;
  list-style: none;
  // background-color: var(primary-color);
  margin-bottom: 0;
  z-index: 9;

  .brand {
    padding: 24px 24px 0 0;
    min-width: 10%;
  }

  .pages {
    padding: 24px 0;
    border-left: 1px solid black;

    .page {
      padding: 0 28px;
    }
    .link {
      color: black;
    }
  }

  & > :last-child {
    border-right: 1px solid black;
  }

  @media (max-width: 790px) {
    > * {
      font-size: 14px !important;
      color: white;
    }
  }
}
