.Footer {
  display: flex;
  padding: 0 24px;
  border-bottom: solid;
  border-top: solid;
  border-width: 1px;
  list-style: none;
  background-color: var(primary-color);
  margin-bottom: 0;

  .brand {
    padding: 24px 24px 0 0;
    min-width: 10%;
  }

  .pages {
    padding: 24px 0;
    border-left: 1px solid black;

    .page {
      padding: 0 28px;
    }
    .link {
      color: black;
    }
  }

  & > :last-child {
    border-right: 1px solid black;
  }
}
