<nav *ngIf="user?.name" class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Site DGSITE</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li
        class="nav-item"
        [routerLinkActive]="'active'"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link" href="#" [routerLink]="['/admin/home']">Início</a>
      </li>
      <li
        class="nav-item"
        [routerLinkActive]="'active'"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link" href="#" [routerLink]="['/admin/about']">Sobre</a>
      </li>
      <li
        class="nav-item"
        [routerLinkActive]="'active'"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link" href="#" [routerLink]="['/admin/project']"
          >Projetos</a
        >
      </li>
      <li
        class="nav-item"
        [routerLinkActive]="'active'"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link" href="#" [routerLink]="['/admin/footer']">Rodapé</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          role="button"
          data-toggle="dropdown"
          aria-expanded="false"
        >
          {{ user?.name }}
        </a>
        <div class="dropdown-menu">
          <a
            class="dropdown-item"
            href="#"
            [routerLink]="['/admin/profile']"
            [routerLinkActive]="'active'"
            [routerLinkActiveOptions]="{ exact: true }"
            >Meu Perfil</a
          >
          <div class="dropdown-divider"></div>
          <button class="dropdown-item" (click)="handleExit()">Sair</button>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid mt-2 position-relative">
  <div class="loading">
    <div *ngIf="!user?.name" class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <app-alert></app-alert>
  <div [@routeAnimations]="prepareRoute()">
    <router-outlet *ngIf="user?.name"></router-outlet>
  </div>
</div>
