@import "../../../theme/theme.scss";

.Skills {
  margin-left: 25px;
  margin-top: 25px;
  .Technology {
    color: $light-color;
    background-color: $primary-color;
    padding-left: 12px;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: 500;
    margin-top: 6px;
    display: inline-block;
    margin-right: 10px;
    line-height: 25px;

    .Percent {
      margin-left: 6px;
      background-color: rgba(0, 0, 0, 0.2);
      padding: 2px 10px;
      border-radius: 0 32px 32px 0;
      display: inline-block;
    }
  }
}
