<div id="login">
  <app-alert></app-alert>
  <div class="background-primary"></div>
  <div class="background-secondary">
    <div class="form">
      <h1 class="d-none d-md-block mb-4">Entrar na área administrativa</h1>
      <h4 class="d-md-none mb-4">Entrar na área administrativa</h4>
      <p>Para visitante:</p>
      <li><strong>Email:</strong> visitante@email.com</li>
      <li class="mb-4"><strong>Senha:</strong> 123456</li>
      <form [formGroup]="formGroup" (ngSubmit)="handleLogin()">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="text"
            id="email"
            class="form-control"
            formControlName="email"
            name="email"
          />
        </div>
        <div class="form-group">
          <label for="password">Senha</label>
          <input
            type="password"
            id="password"
            class="form-control"
            formControlName="password"
            name="password"
          />
        </div>
        <button class="btn btn-success mr-2" type="submit" [disabled]="loading">
          Logar <i *ngIf="loading" class="fas fa-circle-notch fa-spin"></i>
        </button>
        <button class="btn btn-info" type="button" [routerLink]="['/']">
          Voltar
        </button>
      </form>
    </div>
  </div>
</div>
