#login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .background-primary {
    width: 100%;
    min-height: 35vh;
    background-color: var(--primary-color);
  }
  .background-secondary {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 65vh;
    background-color: var(--light);

    .form {
      position: absolute;
      top: -30px;
      width: 50%;
      padding: 12px 24px;
      box-shadow: 1px 1px 30px #80808042;
      background-color: var(--light);
      border-radius: 12px;
    }
    @media (max-width: 768px) {
      .form {
        width: 80%;
      }
    }
  }
}
