.Menu {
  display: flex;
  border-bottom: 1px solid #1e2d3d;
  list-style: none;
  padding: 0 24px;

  @mixin Font {
    font-family: Fira Code;
    font-size: 16px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
  }

  .brand {
    padding: 16px 0;
    color: #607b96;
    min-width: 24%;
    @include Font();
  }

  .pages {
    border-left: 1px solid #1e2d3d;

    &:hover,
    &.active {
      border-bottom: 3px solid #fea55f;
    }

    &:hover .page .link,
    &.active .page .link {
      color: #fff;
    }

    .page {
      padding: 16px 32px;

      .link {
        color: #607b96;
        text-decoration: none;

        @include Font();
      }
    }
  }

  & > :last-child {
    border-right: 1px solid #1e2d3d;
  }
}
