@import "/src/styles.scss";

.Menu {
  display: flex;
  border-bottom: 1px solid #1e2d3d;
  list-style: none;
  padding: 0 24px;
  position: relative;
  z-index: 99;
  margin: 0;

  .Brand {
    padding: 16px 16px 16px 0;
    color: #607b96;
    min-width: 24%;
    @include Font(16px);
  }

  .Pages {
    border-left: 1px solid #1e2d3d;
    cursor: pointer;

    &:hover,
    &.Active {
      border-bottom: 3px solid #fea55f;
    }

    &:hover .page .link,
    &.Active .page .link {
      color: #fff;
    }

    .Page {
      padding: 16px 32px;

      .Link {
        color: #607b96;
        text-decoration: none;

        @include Font(16px);
      }
    }
  }

  @media (max-width: 790px) {
    .Pages {
      display: none;
    }
  }

  & > :last-child {
    border-right: 1px solid #1e2d3d;
  }
}
