<footer id="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="header col-sm-12 col-md-6 px-5 wow bounceInLeft">
        <h1 class="title">
          <img
            src="{{ this.footer?.logo?.src }}"
            alt="{{ this.footer?.logo?.alt }}"
            width="50px"
          />
          <a href="/">{{ this.footer?.title }}</a>
        </h1>
        <small>{{ this.footer?.copyright }}</small>
      </div>
      <div
        class="header col-sm-12 col-md-6 px-5 wow bounceInLeft"
        data-wow-delay=".1s"
      >
        <p class="mt-3 mb-0">{{ this.footer?.description }}</p>
      </div>
      <div class="col-12 px-5 wow bounceInDown" data-wow-delay=".1s">
        <hr />
      </div>
      <div class="col-sm-12 col-md-6 mb-4 mb-md-0 px-5 wow bounceInLeft">
        <h5>Links Úteis</h5>
        <a
          *ngFor="let link of this.footer?.links"
          class="{{ link.class }}"
          href="{{ link.href }}"
          target="{{ link.target }}"
          ><i class="{{ link.icon }}"></i> {{ link.title }}</a
        >
      </div>
      <div
        class="px-5 col-sm-12 col-md-6 text-md-right wow bounceInLeft"
        data-wow-delay=".1s"
      >
        <h5>Seções</h5>
        <a
          *ngFor="let social of this.footer?.sections"
          class="{{ social.class }}"
          [href]="social.href"
        >
          {{ social.title }}</a
        >
      </div>
    </div>
  </div>
</footer>
