@import "../../theme/theme.scss";

.Lines {
  margin: 0;
  display: flex;

  .Indexes {
    display: flex;
    flex-direction: column;
    margin-right: 12px;

    .Index {
      display: flex;
      flex-direction: row;
      // margin-right: 12px;
      color: $dark-secondary-color;
      width: 60px;
      justify-content: space-between;
    }
  }

  p {
    display: inline;
    margin: 0;
  }
}
